@{
    ViewBag.Title = "Contact";
    ViewBag.PageClass = ViewBag.PageId = "home-contact-page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    City blah blah.<br />
    Random street, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@example.com</a>
</address>